bin/
*resharper.user
[Dd]ebug/
[Rr]elease/
obj/
*.ncb
*.suo
_ReSharper.*/
*.pdb
*.snk
*.user
*.log
App_Data/
*.pidb
*.test-cache
*.userprefs
*.resources
*.cache
*.pidb
nunit-results.xml
*.orig
*.ReSharper
*.tmp
*.bak
cache/
.project
*.dotCover
*.opensdf
*.sdf
test-results
